/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
}
 */
 body {
  height: 100vh;
  width: 100vw;
}

input[type="number"] {
  -webkit-appearance: none; /* Для WebKit-браузеров (Chrome, Safari) */
  -moz-appearance: textfield; /* Для Firefox */
  appearance: none; /* Стандартное свойство */
}
